[Desktop Entry]
Comment[en_GB]=
Comment=
Exec=conky -c .config/conky/conky.conf
GenericName[en_GB]=
GenericName=
Icon=system-run
MimeType=
Name[en_GB]=
Name=
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
