#!/usr/bin/env xdg-open
[Desktop Entry]
Version=R2020a
Type=Application
Terminal=false
MimeType=text/x-matlab
Exec=/mnt/FAST_UN/MATLAB/R2020a/bin/matlab -desktop
Name=MATLAB
Icon=matlab
Categories=Development;Math;Science
Comment=Scientific computing environment
StartupNotify=true
