[Desktop Entry]
Version=1.19.4
Type=Application
Terminal=false
MimeType=text/x-mendeley
Exec=/opt/mendeley-1.19.4/bin/mendeleydesktop
Name=Mendeley
Icon=mendeley
Categories=Science;Development
Comment=Bibliography Management Suite
StartupNotify=true
