Xft.dpi: 157
URxvt*font:xft:Inconsolata Nerd Font Mono:size=11,xft:Source Code Pro Medium:size=11,xft:Noto Emoji
!xft:Inconsolata Nerd Font Mono:size=11,xft:Source Code Pro:pixelsize=22:antialias=true:autohinting=true, xft:monospace:size=10, xft:FontAwesome:size=9,xft:Font Awesome 5 Free:size=10
!URxvt*font:xft:HackLpixelsize=40,xft:Source Code Pro:pixelsize=22:antialias=true:autohinting=true,xft:Noto Emoji, xft:FontAwesome5Free:size=9,
URxvt.scrollBar: false
URxvt*background: #1C1C24
!URxvt*background: #292b42
URxvt*foreground: white
! black dark/light
URxvt*color0:             #2e3436
URxvt*color8:             #6e706b
! red dark/light
URxvt*color1:             #B95956
URxvt*color9:             #ef2929
! green dark/ligh
URxvt*color2:             #00DBB8
URxvt*color10:            #8ae234
! yellow dark/light
URxvt*color3:             #edd400
URxvt*color11:            #fce94f
! blue dark/light
URxvt*color4:             #3465a4
URxvt*color12:            #78A7F8
! magenta dark/light
URxvt*color5:             #92659a
URxvt*color13:            #746AFA
! cyan dark/light
URxvt*color6:             #07c7ca
URxvt*color14:            #63e9e9
! white dark/light
URxvt*color7:             #d3d7cf
URxvt*color15:            #eeeeec

#URxvt.iconFile: /home/jhewers/.local/share/fonts/siji.pcf,/usr/share/fonts/TTF/fa-regular-400.ttf

URxvt.internalBorder:120 
rofi.modi: window,run,ssh,drun
rofi.color-window: argb:2c1d1f21, #7c8389, #1d1f21
rofi.color-normal: argb:2c1d1f21, #c4cbd4, argb:96404552, #4084d6, #f9f9f9
rofi.color-urgent: argb:2c1d1f21, #cc6666, argb:e54b5160, #a54242, #f9f9f9
rofi.color-active: argb:2c1d1f21, #65acff, argb:e44b5160, #4491ed, #f9f9f9
rofi.width: 35
rofi.show-icons: true
!rofi.fullscreen: true
rofi.lines: 1
rofi.columns: 1 
rofi.font: Noto Sans 24 
rofi.bw: 0
rofi.padding: 80
rofi.eh: 1
rofi.separator-style: solid
rofi.hide-scrollbar: true
